* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 15px Helvetica, Arial;
}

header p {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  margin: 1em;
  color: #7a7a7a;
}
