* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

body {
  font: 15px Helvetica, Arial;
}

header p {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  margin: 1em;
  color: #ffffff;
  padding: 30px 30px;
}

canvas {
  background-color: white;
}

form {
  background: #08ADDA;
  font-size: larger;
  font-weight: bold;
  width: 100%;
}

form input {
  border: 0;
  background-color: #ffffff;
  color: #000000;
  outline-width: 0;
  font-size: larger;
  padding: 15px 30px;
}

#allRooms {
  color: #ffffff;
  font-weight: bold;
}

li {
  padding: 15px 40px;
}

li:hover {
  background: grey;
  cursor: pointer;
}

::placeholder {
  color: #000000;
}

.text {
  float: left;
  width: 15%;
}

.drawing {
  float: right;
  width: 85%;
}
